body {
	background-color: white;
	background-image: url("img/background_black.jpg");
	margin: 3% auto;
	width: 600px;
	/*border: 3px solid magenta;*/
	padding: 0 2em 1em;
	font-family: "Times New Roman", Times, serif;
}
h1 {
	font-size: 2em;
	font-style: italic;
	color: rgb(187, 142, 30);
}
div {
	margin-bottom: 1em;
}
label {
	display: inline-block;
	width: 11em;
	text-align: right;
}
input {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
fieldset {
	margin-bottom: 1em;
	color: rgb(19, 95, 16);
	color: white;
	font-size: 1.5em;
	font-weight: 50;
}
fieldset a,
#seconds {
	margin-right: 0.5em;
}

a {
	text-decoration: none;
	color: rgba(187, 142, 30, 0.795);
}
legend {
	color: rgb(138, 138, 138);
}
#clock {
	text-align: center;
	padding: 40px 90px;
	background-color: rgba(83, 83, 83, 0.479);
	box-shadow: 0 4px 8px 0 rgba(196, 196, 196, 0.2),
		0 6px 20px 0 rgba(141, 141, 141, 0.19);
}
small {
	color: rgb(223, 223, 223);
	font-size: 0.8em;
	letter-spacing: 1px;
}
